<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3 class="bg-primary text-white p-3">{{ title }}</h3>
</div>
<div>
  <div class="container" style="margin-top:2em;">
    <div class="row"> 
      <div class="col-md-2 col-lg-1">
       <!-- lege ruimte-->
      </div>      
      <div class="col-md-6 col-lg-5">
        <div class="row">
          <div class="col-md-2 col-lg-2 header">Chord</div>
          <div class="col-md-2 col-lg-2 header">Position</div>
          <div class="col-md-2 col-lg-2 header" [hidden]="!withCharacter">Character</div>
        </div>
        <div class="row" *ngFor="let chord of chords">
            <div class="col-md-2 col-lg-2 chord">{{chord.note}}</div>
            <div class="col-md-2 col-lg-2 chord">{{chord.position}}</div>
            <div class="col-md-2 col-lg-2 chord" [hidden]="!withCharacter">{{chord.character}}</div>
          </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <form>
            <div class="row">
                <div class="col-md-4 col-lg-4 header">
                  With
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                accidentals (sharps or flats)
              </div>
              <div class="col-md-0 col-lg-0">
                  <input type="checkbox" name="withAccidentals" [(ngModel)]="userSettings.withAccidentals"/>
              </div>              
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                  minor
                </div>
                <div class="col-md-0 col-lg-0">
                    <input type="checkbox" name="withMinor" [(ngModel)]="userSettings.withMinor"/>
                </div>              
              </div>
              <div class="row">
                  <div class="col-md-6 col-lg-6">
                    dominant 7
                  </div>
                  <div class="col-md-0 col-lg-0">
                      <input type="checkbox" name="withDominant7" [(ngModel)]="userSettings.withDominant7"/>
                  </div>              
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                      (half) diminished
                    </div>
                    <div class="col-md-0 col-lg-0">
                        <input type="checkbox" name="withDiminished" [(ngModel)]="userSettings.withDiminished"/>
                    </div>              
                  </div>
                  <div class="row" style="margin-top:2em;">
                      <div class="col-md-4 col-lg-4">
                        Number of chords
                      </div>
                      <div class="col-md-0 col-lg-0">
                          <select name="numberOfChords" [(ngModel)]="userSettings.numberOfChords">
                              <option *ngFor="let numberOfChords of numberOfChordsList">{{numberOfChords}}</option>
                            </select>
                      </div>
                  </div>
                  <div class="row" style="margin-top:2em;">
                      <div class="col-md-4 col-lg-4">
                        <input type="button" value="Generate chords" (click)="getRandomChords()"/>
                      </div>
                  </div>
            </form>
      </div>
      <div class="col-lg-12 lower">
          <div class="row">
            <div class="header">Positions</div> 
          </div>
          <div class="row">
            <div class="posAbbreviation">R</div>
            <div class="posName">Root</div>
            <div class="posAka">aka F-shape aka Y-shape</div>
            <div class="posRoot">root on 1st string</div>
            <div class="posBase">base (4th string)= root, e.g. G</div>
        </div>
        <div class="row">
            <div class="posAbbreviation">1</div>
            <div class="posName">1st inversion</div>
            <div class="posAka">aka D-shape aka X-shape</div>
            <div class="posRoot">root on 2nd string</div>
            <div class="posBase">base (4th string)= third, e.g. B</div>
        </div>
        <div class="row">
            <div class="posAbbreviation">2</div>
            <div class="posName">2nd inversion</div>
            <div class="posAka">aka bar-shape</div>
            <div class="posRoot">root on 3rd string</div>
            <div class="posBase">base (4th string)= fifth, e.g. D</div>
        </div>
        <div [hidden]="!withCharacter">
            <div class="row">
                <div class="header" style="margin-top:2em;">Characters</div> 
            </div>
            <div class="row">
                <div class="col-md-1 col-smd-1"></div>
                <div class="col-md-2 col-lg-2">major</div>
            </div>
            <div class="row" [hidden]="!userSettings.withMinor">
                <div class="col-md-1 col-lg-1">m</div>
                <div class="col-md-2 col-lg-2">minor</div>
            </div>
            <div class="row" [hidden]="!userSettings.withDominant7">
                <div class="col-md-1 col-lg-1">7</div>
                <div class="col-md-2 col-lg-2">dominant 7</div>
            </div>
            <div class="row" [hidden]="!userSettings.withDiminished">
                <div class="col-md-1 col-lg-1">&#216;</div>
                <div class="col-md-2 col-lg-2">(half) diminished</div>
            </div>
        </div>        
    </div>
    <div class="row"> 
    <div class="col-md-2 col-lg-1">
        <!-- lege ruimte-->
    </div>      
  </div>
</div>