<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3 class="bg-primary text-white p-3">{{ title }}</h3>
</div>
<div style="margin-left: 10%;margin-right: 10%;">
  <div class="container" style="margin-left:25%;margin-top:2em;">
    <div class="row">        
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 header">Chord</div>
          <div class="col-md-2 header">Position</div>
          <div class="col-md-2 header" [hidden]="!withCharacter">Character</div>
        </div>
        <div class="row" *ngFor="let chord of chords">
            <div class="col-md-2 chord">{{chord.note}}</div>
            <div class="col-md-2 chord">{{chord.position}}</div>
            <div class="col-md-2 chord" [hidden]="!withCharacter">{{chord.character}}</div>
          </div>
      </div>
      <div class="col-md-6">
        <form>
            <div class="row">
                <div class="col-md-4 header">
                  With
                </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                accidentals (sharps or flats)
              </div>
              <div class="col-md-0">
                  <input type="checkbox" name="withAccidentals" [(ngModel)]="withAccidentals"/>
              </div>              
            </div>
            <div class="row">
                <div class="col-md-5">
                  minor
                </div>
                <div class="col-md-0">
                    <input type="checkbox" name="withMinor" [(ngModel)]="withMinor"/>
                </div>              
              </div>
              <div class="row">
                  <div class="col-md-5">
                    dominant 7
                  </div>
                  <div class="col-md-0">
                      <input type="checkbox" name="withDominant7" [(ngModel)]="withDominant7"/>
                  </div>              
                </div>
                <div class="row">
                    <div class="col-md-5">
                      (half) diminished
                    </div>
                    <div class="col-md-0">
                        <input type="checkbox" name="withDiminished" [(ngModel)]="withDiminished"/>
                    </div>              
                  </div>
                  <div class="row" style="margin-top:2em;">
                      <div class="col-md-4">
                        Number of chords
                      </div>
                      <div class="col-md-0">
                          <select name="numberOfChords" [(ngModel)]="numberOfChords">
                              <option *ngFor="let numberOfChords of numberOfChordsList">{{numberOfChords}}</option>
                            </select>
                      </div>
                  </div>
                  <div class="row" style="margin-top:2em;">
                      <div class="col-md-4">
                        <input type="button" value="Generate chords" (click)="getRandomChords()"/>
                      </div>
                  </div>
                  </form>
      </div>
      <div class="col-md-6 position-fixed" style="margin-top:25em;">
          <div class="row">
            <div class="header">Positions</div> 
          </div>
          <div class="row">
            <div class="col-md-0">R</div>
            <div class="col-md-2">Root</div>
            <div class="col-md-3">aka F-shape aka Y-shape</div>
            <div class="col-md-2">root on 1st string</div>
            <div class="col-md-3">base (4th string)= root, e.g. G</div>
        </div>
        <div class="row">
            <div class="col-md-0">1</div>
            <div class="col-md-2">1st inversion</div>
            <div class="col-md-3">aka D-shape aka X-shape</div>
            <div class="col-md-2">root on 2nd string</div>
            <div class="col-md-3">base (4th string)= third, e.g. B</div>
        </div>
        <div class="row">
            <div class="col-md-0">2</div>
            <div class="col-md-2">2nd inversion</div>
            <div class="col-md-3">aka bar-shape</div>
            <div class="col-md-2">root on 3rd string</div>
            <div class="col-md-3">base (4th string)= fifth, e.g. D</div>
        </div>
        <div class="row">
            <div class="header" style="margin-top:2em;">Characters</div> 
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">major</div>
        </div>
        <div class="row">
            <div class="col-md-1">m</div>
            <div class="col-md-2">minor</div>
        </div>
        <div class="row">
            <div class="col-md-1">7</div>
            <div class="col-md-2">dominant 7</div>
        </div>
        <div class="row">
            <div class="col-md-1">&#216;</div>
            <div class="col-md-2">(half) diminished</div>
        </div>
    </div>
  </div>
</div>